<!DOCTYPE html>
<html ng-app="quoteBook">
  <head>
    <meta charset="utf-8">
    <title>Quote Book</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <input type="text" placeholder="Author" ng-model="addAuthor">
    <input type="text" class = "textBox" placeholder="Text" ng-model= "addText">
    <button ng-click="addQuote(addAuthor, addText)">Add quote</button>

    <br><br>
      <input type="text" class = "textBox" placeholder="Text" ng-model= "removeText">
    <button ng-click="removeQuote(removeText)">Remove quote</button>
    <br><br>
    <input type="text" placeholder="Find Text" ng-model="findText">

    <div class="repeat" ng-repeat = "quote in quoteArray | filter : findText
                                | orderBy: '+author' track by $index">
        <div class = "quotes">
          <div class="author">{{quote.author}}</div>
          <div class="text">{{quote.text}}</div>
          <hr />
        </div>

    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>
  <script src="js/dataService.js"></script>
  </body>
</html>
