
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

div.repeat {
  width: 100%;
}


div.author  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-family: Arial;
  font-size: 20px;
  /* margin: 40px 15px; */
  width: 25%;
  display: inline-block;

}

div.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-family: "Times New Roman";
  font-size: 14px;
  width: 60%;
  /* margin: 40px 15px; */
  display: inline-block;
  /* padding-left: 50px; */
}

.quotes {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  width: 100%;
  height: 80px;
  position: relative;
  border-bottom: 1px solid gray
}

input.textBox {
  width: 350px;
  height: 20px;
  padding: 1px;
}
